PROJECT_NAME=proxy
COMPOSE_PROJECT_NAME=${PROJECT_NAME}
STATE=dev

DJANGO_SECRET=''
POSTGRES_DB=backend
POSTGRES_USER=backend
POSTGRES_PASSWORD=''
DB_HOST=${PROJECT_NAME}-db
DB_PORT=5432


DJANGO_ALLOW_ASYNC_UNSAFE=true
PYTHONUNBUFFERED=1